---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
---

<Base meta_title="About">
  <Page title="About US">
    <p>
      Soy una mujer de 24 años con una profunda pasión por la lectura, especialmente por los libros de romance que me transportan a mundos llenos de emociones. Actualmente, estudio contaduría pública, lo que refleja mi interés en el ámbito financiero y mi deseo de desarrollarme profesionalmente.
    </p>

    <p>
      Trabajo ocasionalmente en programación, lo que me permite mantenerme actualizada en el mundo tecnológico y disfrutar del desafío que representa. En resumen, busco equilibrar mis pasiones, mi familia y mis estudios mientras construyo un futuro prometedor.
    </p>

  </Page>
</Base>
