---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
---

<Base meta_title="About">
  <Page title="About US">
    <p>
      Soy una mujer de 24 años con amor por la lectura, especialmente por los libros de romance. Actualmente, estudio contaduría pública, lo que refleja mi interés en el ámbito financiero y mi deseo de desarrollarme profesionalmente.
    </p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem nam repellat aspernatur soluta distinctio minus laboriosam sequi fugit unde veniam eaque incidunt nisi quaerat est, alias odit explicabo pariatur animi.</p>

  </Page>
</Base>
